
<div data-ng-controller="HeaderController">
    <md-toolbar class="md-whiteframe-z2 loginHeader">
        <div class="md-toolbar-tools">
            <a ui-sref="home" ng-hide="$root.loggedIn"><h2>not logged in</h2></a>
            <md-select  name="projects"
                        ng-model="selectedItem"
                        placeholder="Projects" 
                        class="md-no-underline project-color"
                        ng-change="header.onChange(selectedItem)"
                        ng-show="$root.loggedIn">
                <md-option 
                    ng-value="$index"
                    ng-repeat="project in projects" >{{project.name}}
                </md-option>
            </md-select>
            <span flex></span>
            <md-button style="color:#1564c2" ng-show="$root.loggedIn" ng-click="header.logout()">log out</md-button>
        </div>
    </md-toolbar>    
</div>