body {
    width: 600px !important;
    position: inherit !important;
}

.loginHeader{
    background-color: white !important;
    
}
h2 {
    color: #1564c2;
    /* padding: 20px; */
    /* text-decoration: none;     */
}

md-select.project-color > md-select-value > span > div.md-text {
    color: black;   
}

.activeBuilds {
    color: white;
}