body {
    width: 600px;
}

#content > md-content {
    background-color: #eee;
}

.loginHeader{
    background-color: white !important;
    
}
.loginLabel{
    color: #1564c2;
    padding: 20px;
    text-decoration: none;    
}