body {
    width: 600px;
    /*background-color: rgb(250,250,250);*/
}
/*.ext-header {*/
    /*background-color: #f6f6f6;*/
/*}*/

/*.project-name {*/
    /*color: #1564c2;*/
    /*text-decoration: none !important;*/

/*}*/

#content > md-content {
    background-color: #eee;
}

.loginHeader{
    background-color: white !important;
}
.loginLabel{
    color: #1564c2;
    padding-left: 20px;
}