<div ng-controller="BuildListsController" ng-cloak>
    <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools">
        <span class="activeBuilds">Watched Builds</span>
        </h2>
    </md-toolbar>
    <md-content>
        <md-list>
        <md-list-item class="md-3-line" 
            ng-repeat="build in allbuilds | filter: { watched: true }">
                <div class="md-list-item-text">
                    <h3>{{build.name}}</h3>
                    <h4>{{build.id}}</h4>
                <!-- <p>{{build.status}}</p> -->
                </div>
                <md-button class="md-secondary" 
                            ng-click="buildlist.stopWatch(build.id)">
                            UnWatch
                </md-button>
                <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
        </md-list>
    </md-content>
    <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools">
        <span class="activeBuilds">UnWatched Builds</span>
        </h2>
    </md-toolbar>
    <md-content>
        <md-list>
            <md-list-item class="md-3-line" 
                ng-repeat="build in allbuilds | filter: { watched: false }">
                    <div class="md-list-item-text">
                        <h3>{{build.name}}</h3>
                        <h4>{{build.id}}</h4>
                    </div>
                    <md-button  class="md-secondary" 
                                ng-click="buildlist.startWatch(build.id)">
                                Watch
                    </md-button>
                    <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
        </md-list>
    </md-content>
</div>